@import './pages/Login.scss';
@import './pages/Checkmail.scss';
@import './pages/Verification.scss';
@import './pages/Profile.scss';
@import './pages/Createpage.scss';
@import './pages/Post.scss';
@import './components/Navbar.scss';
@import './components/Popup.scss';
@import './components/Postcard.scss';
@import './components/Footer.scss';
@import './pages/Homepage.scss';
@import './abstracts/mixins.scss';

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-2{
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 100%;
    padding-block: 1.7vh;
    padding-inline: 2.5vh;
    font-size: 14px;
    border-radius: 1vh;
    cursor: pointer;
}
.btn-2:hover{
    color: white;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.938);
}

.btn-1{
    background-color: rgb(131, 152, 255);
    color: rgb(0, 34, 255);
    border: none;
    width: 100%;
    padding-block: 1.7vh;
    cursor: pointer;

    padding-inline: 2.5vh;
    font-size: 14px;
    font-weight: 700;
    border-radius: 1vh;
}
.btn-1:hover{
    color: rgb(255, 255, 255);
    transition: 0.3s;
    background-color: rgba(0, 55, 253, 0.938);
}
.btn-3{
    background-color: rgb(255, 143, 143);
    cursor: pointer;
    color: rgb(222, 0, 0);
    border: none;
    width: 100%;
    font-weight: 700;
    padding-block: 1.7vh;
    padding-inline: 2.5vh;
    font-size: 14px;
    border-radius: 1vh;
}
.btn-3:hover{
    color: white;
    transition: 0.3s;
    background-color: rgba(223, 0, 0, 0.938);
}

.btn{
    cursor: pointer;
    background-color: black;
    color: white;
    width: 100%;
    padding-block: 1.7vh;
    padding-inline: 2.5vh;
    font-size: 14px;
    border: none;
    border-radius: 1vh;
    box-shadow: rgba(31, 31, 31, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.btn:hover{
    background-color: rgba(47, 47, 47, 0.938);
}
.btn:disabled {
    background-color: #c0c0c0;
    color: #ffffff;
    cursor: not-allowed;
  }
.btn-black{
    cursor: pointer;
    background-color: black;
    color: white;
    padding-block: 1.7vh;
    padding-inline: 2.5vh;
    font-size: 14px;
    border: none;
    border-radius: 1vh;
    box-shadow: rgba(31, 31, 31, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.btn-black:hover{
    background-color: rgba(0, 0, 0, 0.938);
}

.btn-white{
    cursor: pointer;
    background-color: white;
    color: black;
    padding-block: 1.7vh;
    padding-inline: 2.5vh;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 1vh;
    box-shadow: rgba(31, 31, 31, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.btn-white:hover{
    background-color: rgb(216, 216, 216);
}

.wrap-btn-load{
    margin-block: 2vh;
}

.Link{
    text-decoration: none;
    color: white;
}
// box model helper css
.green{
    background-color: green;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.p-white{
    color: white;
}