.checkmail-wrap-b{
    @include flex(center,center,row);
    width: 98%;
    height: 98%;
    border-radius: 2vh;
    background-color: black;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
@include respond-to(small){
width: 98%;
height: 98%;
}
}